
.ProjectPage{
    display: flex;
    justify-content: flex-start;
    width: 100vw;
}

.ProjectPage-body{
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
}


/* above 900px */
@media (min-width: 900px) {
    .ProjectPage-body{
        padding: 2rem 4rem;
    }
}